<!DOCTYPE html>
<html lang="es">
<head th:replace="layout.html :: headprincipal">
    <style>
        /* Estilo opcional para centrar los botones fuera de la tabla */
        .acciones-fuera {
            margin-top: 20px;
        }
    </style>
</head>
<body style="background-color: #141414; color: white; font-family: 'Arial', sans-serif;">
    <div th:replace="layout.html :: cabecera"></div>
    
    <h1 class="display-3 text-danger">Lista de Producciones</h1>

    <!-- Formulario para agregar producciones -->
    <h2>Agregar Producción</h2>
    <form id="form-produccion" action="/guardarProduccion" method="post">
        <label for="anio" class="form-label text-light">Año:</label>
        <input type="number" id="anio" name="anio" required class="form-control bg-secondary text-white border-0">
        
        <label for="tipo"class="form-label text-light mt-3">Tipo:</label>
        <input type="text" id="tipo" name="tipo" required class="form-control bg-secondary text-white border-0">
        
        <label for="clasificacionId">Clasificación:</label>
		<label for="clasificacionId">Clasificación:</label>
		<select name="clasificacionId" id="clasificacion" required>
		    <option value="" disabled selected>Seleccione una clasificación</option>
		    <th:block th:each="clasificacion : ${listaclasificacion}">
		        <option th:value="${clasificacion.id_clasificacion}" th:text="${clasificacion.name_clasificacion}"></option>
		    </th:block>
		</select>
        <button type="submit" id="btn-agregar" class="btn btn-danger mt-3">Agregar</button>
    </form>

    <div class="acciones-fuera">
        <h2>Editar Producción</h2>
        <form th:action="@{/editarProduccion}" method="post">
            <label for="editar_id" class="form-label text-light">ID de Producción a Editar:</label>
            <input type="text" id="editar_id" name="id" placeholder="ID" required class="form-control bg-secondary text-white border-0">
            <br>
            <label for="editar_anio"class="form-label text-light mt-3">Nuevo Año:</label>
            <input class="form-control bg-secondary text-white border-0"type="number" id="editar_anio" name="anio" placeholder="Nuevo Año" required>
            <br>
            <label class="form-label text-light mt-3"for="editar_tipo">Nuevo Tipo:</label>
            <input  class="form-control bg-secondary text-white border-0"type="text" id="editar_tipo" name="tipo" placeholder="Nuevo Tipo" required>
            <br>
            <label for="editar_clasificacionId">Nueva Clasificación:</label>
			<label for="clasificacionId">Clasificación:</label>
			<select name="clasificacionId" id="clasificacion" required>
			    <option value="" disabled selected>Seleccione una clasificación</option>
			    <th:block th:each="clasificacion : ${listaclasificacion}">
			        <option th:value="${clasificacion.id_clasificacion}" th:text="${clasificacion.name_clasificacion}"></option>
			    </th:block>
			</select>        
				<button type="submit">Editar</button>
        </form>

        <h2>Borrar Producción</h2>
        <form action="/borrarProduccion" method="post">
            <label for="borrar_id">ID de Producción a Borrar:</label>
            <input type="number" id="borrar_id" name="id" placeholder="ID" required>
            <button class="btn btn-danger mt-3" type="submit" onclick="return confirm('¿Seguro que quieres borrar esta producción?')">Borrar</button>
        </form>
    </div>
    
    <br>
    
    <!-- Tabla para mostrar la lista de producciones -->
    <table border="1"class="table table-dark table-hover mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Año</th>
                <th>Tipo</th>
                <th>Clasificación</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produccion : ${listaproduccion}" id="produccion-[[${produccion.id_produccion}]]">
                <td th:text="${produccion.id_produccion}"></td>
                <td th:text="${produccion.anio}"></td>
                <td th:text="${produccion.tipo}"></td>
                <td th:text="${produccion.clasificacion.name_clasificacion}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
